
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');


#mainHeader {
  font-weight: 100;
  font-family: "Press Start 2P", system-ui;
}

#pixelFont {
  font-family: "Press Start 2P", system-ui;
}

.pageheader {
  margin-top: 0.5rem;
  background-color: aliceblue;
  width: 100%;
  text-align: left;
  padding: 0.9rem;
}

.pageheader .instructions {
  margin-left: 1.5rem;
  background-color: aliceblue;
  width: 100%;
  text-align: left;
  padding: 0.9rem;
}

.pageheader h3{
  font-size: 1rem;
}

.pageheader p {
  font-size: 0.8rem;
}

.mainContainer{
  width:100vw;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainContainer h2{
  text-align: center;
  margin-bottom: 2rem;
}

.leftContainer {
  width: 50vw;
  
}

.leftContainer > div {
  border: 3px solid gray;
  gap: 10px;
  aspect-ratio: 1 / 1;
}

.leftContainer > .pixel:focus {
  border: 7px solid #1E90FF !important;
  outline: none;  
  background-image: url('../../../src/assets/plus.png');
}

.leftContainer > .pixel:hover {
  border: 7px solid #1E90FF !important;
  outline: none;  
  background-image: url('../../../src/assets/plus.png');
}

.rightContainer {     
  width: 50vw;
}

.inputContainer{
  width: 100%;
}

.genImages{
  border:#4CAF50;
  border: 3rem;
}

@media only screen and (max-width: 800px) {
  footer p {
    font-size: 0.8rem;
  }
}

header {
  background-color: #1E90FF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
header h1 {
  font-size: 3rem;
}
@media only screen and (max-width: 800px) {
  header h1 {
    font-size: 2rem;
  }
}
header h2 {
  font-size: 2rem;
}
@media only screen and (max-width: 800px) {
  header h2 {
    font-size: 1.2rem;
  }
}
header h3 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 800px) {
  header h3 {
    font-size: 0.9rem;
  }
}
header button, header a {
  background-color: #1E90FF;
  font-size: 0.2rem;
  /* font-weight: bold; */
  color: #fff;
  /* padding: 1rem 1.5rem; */
  text-decoration: none;
}
header button:hover, header a:hover {
  background-color: #1E90FF;
  border: 1px solid #fff;
  color: #fff;
}
header button:focus, header a:focus {
  background-color: #1E90FF;
  border: 1px solid #fff;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  header button, header a {
    padding: 1rem;
    font-size: 1rem;
  }
}

.description--container {
  background-color: #F5F5F5;
  padding: 2rem;
  line-height: 3;
}

.description--container a {
  background-color: royalblue; /* Royal blue background for links */
  color: white; /* White text color */
  padding: 0.5rem 1rem; /* Add some padding for better visibility */
  border-radius: 0.25rem; /* Optional: rounded corners for a nicer look */
  text-decoration: none; /* Remove the underline from links */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.description--container a:hover {
  background-color: #1E90FF; /* Lighter blue on hover for a visual effect */
  color: #fff; /* Keep text color white on hover */
}

nav {
  padding: 0.2rem;
  box-shadow: 0 0 5px lightgray;
  display: grid; /* Enable Grid */
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
}

nav .header h3 {
  color: #1E90FF;
  font-size: 1.3rem;
}

@media only screen and (max-width: 800px) {
  nav {
    padding: 0.5rem;
  }
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  font-size: smaller;
}
@media only screen and (max-width: 800px) {
  nav ul {
    gap: 1rem;
    flex-wrap: wrap;
  }
}
nav ul li, nav ul button, nav ul a {
  color: #1E90FF;
  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms;
}
nav ul li:hover, nav ul button:hover, nav ul a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 800px) {
  nav ul li, nav ul button, nav ul a {
    font-size: 0.9rem;
    font-weight: normal;
  }
}
nav ul button {
  font-size: 1rem;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  nav ul button {
    font-size: 0.9rem;
  }
}
nav ul button:hover {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #1E90FF;
  color: #1E90FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  transition: all 300ms;
}

html, body {
  border: none;
  line-height: 1.3;
  width: 100%;
  height: 100%;
  text-align: justify;
  font-family: "Arimo", sans-serif;
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 0.5rem;
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #1E90FF;
}
html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #fff;
}

select {
  border: 1px solid #1E90FF;
  width: fit-content;
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: black;
  caret-color: #1E90FF;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 800;;
  padding: 0.5rem;
  border: 5px solid black;
  color: #000;
  caret-color: #000;
  resize: none;
}
input:hover,
select:hover,
textarea:hover {
  border: 5px solid royalblue;
}
@media only screen and (max-width: 800px) {
  input,
select,
textarea {
    width: 100%;
    font-size: 16px;
    padding: 0.5rem;
  }
  input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 14px;
  }
  input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 14px;
  }
  input::placeholder,
select::placeholder,
textarea::placeholder {
    font-size: 14px;
  }
}



button, input[type=submit] {
  font-size: 1rem;
  color: #1E90FF;
  /* padding: 1rem; */
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: 1px solid #1E90FF;
  background-color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Hover effect */
button:hover, input[type=submit]:hover {
  background-color: #1E90FF; /* Change background color */
  color: #fff; /* Change text color */
  cursor: pointer; /* Change cursor to pointer */
}

button:focus, input[type=submit]:focus {
  background-color: #1E90FF; /* Change background color */
  color: #fff; /* Change text color */
  cursor: pointer; /* Change cursor to pointer */
}
@media only screen and (max-width: 800px) {
  button, input[type=submit] {
    font-weight: 100;
    /* padding: 0.5rem; */
    -webkit-border-radius: 0;
    -webkit-appearance: none;
  }
}

h1 {
  padding-block: 0.5rem;
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.8rem;
  }
}

h2 {
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1.1rem;
  }
}

.assetGeneration{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

#imageGeneration {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
#imageGeneration form {
  /* background-color: #1E90FF; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  #imageGeneration form {
    height: 100%;
    padding-block: 2rem;
  }
}
#imageGeneration form button, #imageGeneration form a {
  font-size: 1rem;
  color: #1E90FF;
  padding: 0.5rem;
  font-weight: bold;
  border: 5px solid #1E90FF;
  background-color: #fff;
  text-decoration: none;
}
#imageGeneration form button:hover, #imageGeneration form a:hover {
  background-color: #1E90FF; /* Change background color */
  color: #fff; /* Change text color */
  cursor: pointer; /* Change cursor to pointer */
}
#imageGeneration form button:focus, #imageGeneration form a:focus {
  background-color: #1E90FF; /* Change background color */
  color: #fff; /* Change text color */
  cursor: pointer; /* Change cursor to pointer */
}
@media only screen and (max-width: 800px) {
  #imageGeneration form button, #imageGeneration form a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0.8rem 0.5rem;
  }
}
#imageGeneration form .pageheader {
  /* background-color: #1E90FF; */
  width: 100%;
  text-align: left;
  padding: 1rem;
}

.speaking {
  background-color: #4CAF50; /* Green background to indicate speaking */
  color: white; /* White text color */
}

#imageGeneration .image--container {
  width: 100%;
  min-height: 50vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
#imageGeneration .image--container img {
  border-radius: 0.5rem;
  border: 1px solid #1E90FF;
}/*# sourceMappingURL=style.css.map */